# Build klasörleri
bin/
obj/

# Visual Studio ile ilgili dosyalar
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider / JetBrains ile ilgili
.idea/

# MacOS
.DS_Store

# Logs ve geçici dosyalar
logs/
*.log
temp/
wwwroot/uploads/

# Uygulama ayarları ve gizli bilgiler
appsettings.json
appsettings.Development.json
secrets.json

# Paket yönetimi ve bağımlılıklar
node_modules/
packages/
